* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "barlow", sans-serif;
}
:root {
  --primary--color: #ffffff;
}
.margin-main {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
body {
  background-color: #1e1e1e;
  height: 100%;
}
.main-body {
  /*  position: fixed; */
  display: flex;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    103.48% 54.84% at 58.34% 101.87%,
    #2e2d2d 7.01%,
    rgba(37, 36, 36, 0.0504096) 69.79%,
    rgba(109, 107, 107, 0) 80.73%
  );

  .bar-vertical {
    height: 100vh;
    background: linear-gradient(
      179.97deg,
      #262829 80.35%,
      rgba(38, 40, 41, 0) 99.97%
    );
    .tenor-bar {
      width: 100%;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        padding-top: 20px;
      }
      h1 {
        padding-top: 30px;
        text-align: center;
        writing-mode: vertical-lr;

        font-size: 36px;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 0.35em;
        color: var(--primary--color);
      }
    }
  }
  .part-lateral {
    .menu {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 35px;

      nav {
        width: 100%;
        ul {
          display: flex;
          justify-content: space-evenly;

          li {
            a {
              text-decoration: none;
              color: white;
            }
            list-style-type: none;
            font-size: 17px;
            font-weight: 500;
            color: var(--primary--color);
            font-style: italic;
          }
        }
      }
      .menu-mobile {
        display: none;
        button {
          background: transparent;
          cursor: pointer;
          border: 0;
          width: 30px;
          height: 30px;
          hr {
            margin-top: 2px;
            padding: 1.5px;
            background-color: #ffffff;
          }
        }
      }
    }
    .body-lateral {
      display: flex;
      padding-top: 50px;
      width: 95%;

      .text {
        h1 {
          color: var(--primary--color);
          font-size: 130px;
          font-weight: 900;
          font-style: italic;
        }
        h4 {
          color: var(--primary--color);
          font-style: italic;
          font-weight: 500;
          font-size: 30px;
          letter-spacing: 0.2em;
        }
        p {
          padding-top: 25px;
          text-align: justify;
          color: #5f6366;
          font-weight: 500;
          font-size: 18px;
          font-style: italic;
          letter-spacing: 0.05em;
        }
        button {
          cursor: pointer;
          margin-top: 90px;
          background-color: #42505d;
          width: 220px;
          height: 65px;
          border-radius: 25px;
          border: none;
          font-size: 25px;
          font-weight: 500;
          color: #ffffff;
        }
      }
      .image {
        img {
          width: 450px;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .bar-vertical {
      .tenor-bar {
        padding: 15px;
        img {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 1150px) {
    .part-lateral {
      .body-lateral {
        flex-direction: column;
        .text {
          text-align: center;
          button {
            margin-top: 60px;
          }
        }
        .image {
          padding-top: 20px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  @media screen and (max-width: 720px) {
    .bar-vertical{
      .tenor-bar{
        img{
          width: 55px;
        
        }
        h1{
          font-size: 20px;
        }
      }
    }
    .part-lateral {
      .menu {
        justify-content: right;
        nav {
          display: none;
        }
        .menu-mobile {
          display: block;
          padding-right: 10px;
        }
      }
      .body-lateral {
        .text {
          h1 {
            font-size: 100px;
          }
          h4 {
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
          button {
            scale: 0.8;
          }
        }
        .image {
          img {
            width: 300px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .bar-vertical{
      .tenor-bar{
        padding: 5px;
        img{
          width: 35px;
        
        }
        h1{
          font-size: 15px;
        }
      }
    }
    .part-lateral {
      
      .body-lateral {
        .text {
          h1 {
            font-size: 80px;
          }
          h4 {
            font-size: 18px;
          }
          p {
            font-size: 15px;
          }
          button {
            scale: 0.7;
          }
        }
        .image {
          img {
            width: 270px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 370px) {
    
     
    
    .part-lateral {
      
      .body-lateral {
        .text {
          h1 {
            font-size: 65px;
          }
          h4 {
            font-size: 18px;
          }
          p {
            font-size: 15px;
          }
          button {
            scale: 0.7;
          }
        }
        .image {
          img {
            width: 240px;
          }
        }
      }
    }
  }
}
