* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "barlow", sans-serif;
}
:root {
  --primary--color: #ffffff;
}
.margin-main {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}
body {
  background-color: #1e1e1e;
  height: 100%;
}
.main-body {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    103.48% 54.84% at 58.34% 101.87%,
    #2e2d2d 7.01%,
    rgba(37, 36, 36, 0.0504096) 69.79%,
    rgba(109, 107, 107, 0) 80.73%
  );

  .bar-vertical {
    height: 100%;
    background: linear-gradient(
      179.97deg,
      #262829 80.35%,
      rgba(38, 40, 41, 0) 99.97%
    );
    .tenor-bar {

      width: 100%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        padding-top: 20px;
      }
      h1 {
        padding-top: 30px;
        text-align: center;
        writing-mode: vertical-lr;

        font-size: 36px;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 0.35em;
        color: var(--primary--color);
      }
    }
  }
  .part-lateral {
    .menu {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 35px;
      
      
      nav {
        width: 100%;
        ul {
         
          display: flex;
          justify-content: space-evenly;
         
          li {
            
            a{
              text-decoration: none;
              color:white;
            }
            list-style-type: none;
            font-size: 17px;
            font-weight: 500;
            color: var(--primary--color);
            font-style: italic;
          }
        }
      }
    }
  }
}
